{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "modules": false,
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        "transform-class-properties"
    ]
}
