body {
  margin: 0;
  padding: 0;
  height: 5000px;
  background-image: repeating-linear-gradient( 180deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

.follower {

  background: black;
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
}

.message {
  position: fixed;
  backface-visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.overflow-x,
.overflow-y,
.overflow {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  height: 300px;
}

.overflow-y {
  top: 200px;
  overflow-y: scroll;
}

.overflow-x {
  top: 550px;
  overflow-x: scroll;
}

.overflow-y .overflow-content {
  height: 800px;
  background: repeating-linear-gradient( 180deg, #606dbc, #606dbc 10px, #ffffff 10px, #ffffff 20px);
}

.overflow-x .overflow-content {
  width: 800px;
  height: 100%;
  background: repeating-linear-gradient( 90deg, #606dbc, #606dbc 10px, #ffffff 10px, #ffffff 20px);
}
